<head>
    <title>Grand Prix RFID Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Reactive Website</title>
        <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <script type='text/javascript' src='@routes.Assets.at("bootstrap/js/bootstrap.js")'></script>
    </head>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">aknay</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="@routes.HomeController.index">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Setup
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Load
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">

                </ul>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>