@(dateForm: Form[String], dates: Seq[(String, String)])(implicit r: Request[_], messages: Messages, lang: Lang, flash: Flash)
@import helper._
@import b3.vertical.fieldConstructor
@navbar()
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.time.js")'></script>
<body>

<body data-ws-url="@routes.HomeController.ws.webSocketURL()">

</head>

<div class="container">
<form id="dateform" class="navbar-form pull-right">
    @helper.select(dateForm("date"), options = dates)

</form>
    <button id='button' class="btn">Inquiry</button>
</div>
</body>


<div class="row">
    <div class="center-block col-md-12">
        <div id="time" class="container">
        </div>
    </div>

    <div class="demo-container">
        <div id="placeholderr" class="demo-placeholder"></div>
    </div>


</html>

